{% extends "base.html.twig" %}

{% block body %}
    <section class="about_title_ht">
		<div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div>
                        <p style="font-size:25px"> Hello {{ name|capitalize }} {{ lastname|capitalize }} <br> It seems you are already a member of Finsensitive.com family. </p> <br> 
                        <p>If you wish to unsubscriber, please use link below and complete 2 step unsubscription process. In case of any questions, feel free to reach out 
                           to us using contact form below or sending an email to support@finsensitive.com</p>
                    </div>
                </div>
            </div>
		</div>
    </section>
{% endblock %}{# empty Twig template #}
